#  OS / Editor files
.DS_Store
Thumbs.db

# PyCharm project settings
.idea/


#  Python / Virtual Env
# Byte-compiled or optimized Python code
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual environment directories
.venv/
venv/
env/

# Spyder project settings
.spyderproject
.spyproject

#  Environment Files
.env
*.env

#  Cache / Logs
.cache/
.cache
*.log

#  Coverage / Testing
.coverage
.coverage.*
htmlcov/
covreports/

# pytest cache
.pytest_cache/

#  Others
.cache-*

#  Ignore build artifacts
build/
dist/
*.egg-info/


# Instances
instance/database.db
ques/static/resources/output.xlsx